/* MintNFTPage.css */

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  input[type="file"] {
    display: none;
  }
  
  .custom-file-upload {
    display: inline-block;
    background-color: #f5916d;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-file-upload:hover {
    background-color: #f5916d;
  }
  
  button {
    display: block;
    margin: 20px auto 0;
    background-color: #f5916d;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #f5916d;
  }
  